.buttons-main{
    height: 50px;
    /* background-color: red; */
    padding:0 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.buttons-main .btns{
    padding: 10px 12px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    
}
@media (max-width:480px){
    .buttons-main{
        gap:20px;
        /* background-color: gray; */
min-width: 432px;
    }

}